In [7]:
# Dependencies and Setup
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [8]:
# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
m_df = pd.read_csv(mouse_drug_data_to_load)
ct_df = pd.read_csv(clinical_trial_data_to_load)

# Combine the data into a single dataset
cp_df = pd.merge(m_df,ct_df)

# Display the data table for preview
cp_df.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

In [10]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
gb1 = cp_df.groupby(['Drug','Timepoint'])
gb1_agg = gb1.agg({
    'Tumor Volume (mm3)':['mean']
})

# Convert to DataFrame
mv_bdt = pd.DataFrame(gb1_agg)
# Preview DataFrame
mv_bdt.head()

                    Tumor Volume (mm3)
                                  mean
Drug      Timepoint
Capomulin 0                  45.000000
          5                  44.266086
          10                 43.084291
          15                 42.064317
          20                 40.716325

In [11]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
gb2 = cp_df.groupby(['Drug','Timepoint'])
gb2_agg = gb2.agg({
    'Tumor Volume (mm3)':['sem']
})
# Convert to DataFrame
sem_gdt = pd.DataFrame(gb2_agg)
# Preview DataFrame
sem_gdt.head()

                    Tumor Volume (mm3)
                                   sem
Drug      Timepoint
Capomulin 0                   0.000000
          5                   0.448593
          10                  0.702684
          15                  0.838617
          20                  0.909731

In [26]:
df3 = pd.pivot_table(mv_bdt,index='Timepoint',columns='Drug')

In [28]:
df3.columns = df3.columns.droplevel()
df3.head()

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334